In [15]:
# shell

# cd, mkdir, rm, ls, touch, cat, mv, chmod, nano, vim
# wc, sort, cut, grep, uniq, paste, tr, sed
# if, for, while
# |, >, >>

In [16]:
#!!

# Count the total number of lines in the file
# sort the file by scores in descending order
# extract names and display only the top names based on their score

! wc -l 'data.txt'

       5 data.txt

In [17]:
! sort -t' ' -k2 -nr 'data.txt'

Alice 92
Eve 91
Alice 90
Bob 88
John 85
Bob 72

In [18]:
# there are duplicates
! sort -t' ' -k2 -nr 'data.txt' | cut -d' ' -f1 | head -n3

Alice
Eve
Alice

In [22]:
# without duplicates
! sort -t' ' -k2,2 -nr 'data.txt' | cut -d' ' -f1 | head -n3

Alice
Eve
Alice

In [23]:
### python

In [ ]:
# data types: int, str, float, bool
# data structures: list, tuple, set, dict
# iterator, generators
# lambda, functionsm sum, max, sorted, min, filter, map

In [27]:
### exercise
data = ['alb3', 'x2z5', 'c9d', 'b4a', 'm2n3']
# sort data based on the digits

sorted(data, key = lambda t: sum([int(c) for c in t if c.isdigit()]))

['alb3', 'b4a', 'm2n3', 'x2z5', 'c9d']

In [35]:
# given this list:
L = [10, 7, 8, 8, 9, 12, 14, 5]
# find the second largest value

sorted(set(L), reverse = True)[1]

12

In [38]:
# flatten the following list
L = [[1,2,3], [4,5,6], [7,8]]

[i for s in L for i in s]

[1, 2, 3, 4, 5, 6, 7, 8]

In [46]:
# reverse the following dictinonary (swap keys and values)

d = {'james': 10, 'mike': 20, 112: 500, 'sarah': 70}


dict([(v,k) for k,v in d.items()])
# or
{v:k for k,v in d.items()}

{10: 'james', 20: 'mike', 500: 112, 70: 'sarah'}