## Question-1

In this question, we will use the csv file **bank.csv**. 
- a. Read it into a data frame, call it `df`. (Import the packages you think you need).
- b. Drop the following columns:
    ['default','poutcome','y','housing','contact','day','month','duration','campaign','pdays','previous']

In [8]:
#### (a) Your code here

In [ ]:
#### (b) Your code here

## Question-2
Try to discover this data:
- a. Find the number of rows and columns.
- b. Find the data type of each one of the columns.
- c. Find the total number of missing values and the number of missing values in each column if any (Note that "unknown" is considerd as missing value).
- d. Replace all missing values with the most common value in each columns 
- e. Find all unique values of each categorical column.
- f. Find the mean, min, max of each numerical column.

In [ ]:
#### (a) Your code here

In [ ]:
#### (b) Your code here

In [ ]:
#### (c) Your code here

In [ ]:
#### (d) Your code here

## Question-3

- a. We learned that there is one more record. Add the information of the following record to the DataFrame:
        0,42,management,married,secondary,3266,no
- b. Verify that the new record was added to the end of the dataframe
- c. Drop all rows where education is primary.
- d. Reset the index and remove the new created column (index)

In [ ]:
#### (a) Your code here

In [ ]:
#### (b) Your code here

In [ ]:
#### (c) Your code here

In [ ]:
#### (d) Your code here

## Question-4

- a. Find the number of people of 'secondary' education level.
- b. Compare between the average of the balance of married and single people
- c. Find the mean and the standard deviation of the balance of each education level.
- d. Find the mean and the standard deviation of the balance of each job.
- e. What is the average balance for different education groups and marital status?
- f. Compare between the number of people who had loan (married vs single)
- g. Which job has the lowest mean balance?
- h. Which job has the highest number of loans?

In [ ]:
#### (a) Your code here

In [ ]:
#### (b) Your code here

In [ ]:
#### (c) Your code here

In [ ]:
#### (d) Your code here

In [ ]:
#### (e) Your code here

In [ ]:
#### (f) Your code here

In [ ]:
#### (g) Your code here

In [ ]:
#### (h) Your code here