## Question-1

In this question, we will use the csv file **bank.csv**. 
- a. Read it into a data frame, call it `df`. (Import the packages you think you need).
- b. Drop the following columns:
    ['default','poutcome','y','housing','contact','day','month','duration','campaign','pdays','previous']

In [81]:
#### (a) Your code here
import pandas as pd
import numpy as np

df = pd.read_csv('bank.csv', sep=';')

In [82]:
#### (b) Your code here

df = df.drop(['default','poutcome','y','housing','contact','day','month','duration','campaign','pdays','previous'], axis = 1)

## Question-2
Try to discover this data:
- a. Find the number of rows and columns.
- b. Find the data type of each one of the columns.
- c. Find the total number of missing values and the number of missing values in each column if any (Note that "unknown" is considerd as missing value).
- d. Replace all missing values with the most common value in each columns 
- e. Find all unique values of each categorical column.
- f. Find the mean, min, max of each numerical column.

In [83]:
#### (a) Your code here
rows, columns = df.shape

print("Rows:", rows, "Columns:", columns)

Rows: 45211 Columns: 6

In [84]:
#### (b) Your code here
df.dtypes

age           int64
job          object
marital      object
education    object
balance       int64
loan         object
dtype: object

In [85]:
#### (c) Your code here
df = df.replace("unknown", pd.NA)

total = df.isna().sum().sum()
perCol = df.isna().sum()

In [94]:
#### (d) Your code here
for col in df.columns:
    df[col] = df[col].fillna(df[col].mode()[0])

In [102]:
#### (e) Your code here
for col in ['job', 'marital', 'education', 'loan']:
    print(df[col].unique())

['management' 'technician' 'entrepreneur' 'blue-collar' 'retired' 'admin.'
 'services' 'self-employed' 'unemployed' 'housemaid' 'student']
['married' 'single' 'divorced']
['tertiary' 'secondary' 'primary']
['no' 'yes']

In [110]:
#### (f) Your code here
for col in ['age', 'balance']:
    print(col.title() + ":")
    print("Max:", df[col].max(), "Min:", df[col].min(), "Mean:", df[col].mean())

Age:
Max: 95 Min: 18 Mean: 40.93621021432837
Balance:
Max: 102127 Min: -8019 Mean: 1362.2720576850766

## Question-3

- a. We learned that there is one more record. Add the information of the following record to the DataFrame:
        0,42,management,married,secondary,3266,no
- b. Verify that the new record was added to the end of the dataframe
- c. Drop all rows where education is primary.
- d. Reset the index and remove the new created column (index)

In [ ]:
#### (a) Your code here

In [ ]:
#### (b) Your code here

In [ ]:
#### (c) Your code here

In [ ]:
#### (d) Your code here

## Question-4

- a. Find the number of people of 'secondary' education level.
- b. Compare between the average of the balance of married and single people
- c. Find the mean and the standard deviation of the balance of each education level.
- d. Find the mean and the standard deviation of the balance of each job.
- e. What is the average balance for different education groups and marital status?
- f. Compare between the number of people who had loan (married vs single)
- g. Which job has the lowest mean balance?
- h. Which job has the highest number of loans?

In [ ]:
#### (a) Your code here

In [ ]:
#### (b) Your code here

In [ ]:
#### (c) Your code here

In [ ]:
#### (d) Your code here

In [ ]:
#### (e) Your code here

In [ ]:
#### (f) Your code here

In [ ]:
#### (g) Your code here

In [ ]:
#### (h) Your code here