## Exercise 01

Write code to read data from: https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt . 

Keep all monthly temperatures (from Jan to Dec) between 1980 and 2015 ONLY (ignore any other data), then:

- Find minimum temperature in Jan between 1980 - 2015
- Find average temperature in each year between 1980 - 2015
- Find temperature in Jan 2000
- Find temperature in Jun 2009

In [ ]:
# Find minimum temperature in Jan between 1980 - 2015
# Your code here

import pandas as pd

url = "https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt"
df = pd.read_csv(url, delim_whitespace=True, skiprows=7, header=0, na_values="****")

df

/var/folders/kx/58cjbwzx5jjgn5w_sjz3qk0w0000gn/T/ipykernel_2456/1383232018.py:11: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(url, delim_whitespace=True, skiprows=7, header=0, na_values="****")

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year.1
0,1880,-29,-18,-11,-20,-12,-23,-21,-9,-16,-23,-20,-23,-19,***,NaN,-14,-18,-20,1880
1,1881,-16,-17,4,4,2,-20,-7,-3,-14,-21,-22,-11,-10,-11,-18,3,-10,-19,1881
2,1882,14,15,3,-19,-16,-26,-21,-6,-10,-25,-16,-25,-11,-10,6,-10,-17,-17,1882
3,1883,-32,-39,-13,-17,-20,-13,-8,-15,-21,-14,-22,-16,-19,-20,-32,-17,-12,-19,1883
4,1884,-16,-8,-37,-43,-37,-41,-35,-26,-27,-24,-30,-29,-29,-28,-13,-39,-34,-27,1884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON,Year
147,Divide,by,100,to,get,changes,in,degrees,Celsius,(deg-C).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Multiply,that,result,by,1.8(=9/5),to,get,changes,in,degrees,Fahrenheit,(deg-F).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Example,--,Table,Value,:,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,change,:,0.40,deg-C,or,0.72,deg-F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Find average temperature in each year between 1980 - 2015
# Your code here

In [ ]:
# Find temperature in Jan 2000
# Your code here

In [ ]:
# Find temperature in Jun 2009
# Your code here

## Extra Credit  (Optional)

`answers.txt` contains students answers of exam questions (each line contains student_id, then answers made by that student)

- The first number is the student’s ID number. The following 25 letters are the student responses to the exam. If there is no letter following a comma, this means the student skipped answering the question.

- Write code to read the data from the file, compare students answers to answers key (1 point for each correct answer), then find: 

    - The grade for each student.
    - Id of student of the highest score.
    - Id of student of the lowest score.

`answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"`

In [ ]:
answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

In [ ]:
# The grade for each student
# Your code here

In [ ]:
# Id of student of the highest score
# Your code here

In [ ]:
# Id of student of the lowest score
# Your code here