## Exercise 01

Write code to read data from: https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt . 

Keep all monthly temperatures (from Jan to Dec) between 1980 and 2015 ONLY (ignore any other data), then:

- Find minimum temperature in Jan between 1980 - 2015
- Find average temperature in each year between 1980 - 2015
- Find temperature in Jan 2000
- Find temperature in Jun 2009

In [28]:
# Find minimum temperature in Jan between 1980 - 2015
# Your code here

import pandas as pd

url = "https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt"
df = pd.read_csv(url, sep='\s+', skiprows=7, header=0, na_values="****")
df = df.apply(pd.to_numeric, errors='coerce')


df2 = df[(df['Year'] >= 1980) & (df['Year'] <= 2015)]

int(df2['Jan'].min()) / 100

0.1

In [29]:
# Find average temperature in each year between 1980 - 2015
# Your code here

months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
df2[months].mean(axis=1) / 100

104    0.270833
106    0.330833
107    0.132500
108    0.315000
109    0.160833
110    0.118333
111    0.180000
112    0.332500
113    0.407500
114    0.289167
115    0.440833
116    0.414167
117    0.223333
118    0.238333
119    0.307500
120    0.445000
121    0.335000
122    0.468333
123    0.622500
124    0.396667
125    0.399167
127    0.529167
128    0.620833
129    0.605000
130    0.531667
131    0.666667
132    0.616667
133    0.637500
134    0.515833
135    0.631667
136    0.696667
137    0.582500
138    0.617500
139    0.646667
140    0.731667
141    0.865833
dtype: float64

In [44]:
# Find temperature in Jan 2000
# Your code here

float( df.loc[df["Year"] == 2000, "Jan"].iloc[0] / 100 )

0.23

In [45]:
# Find temperature in Jun 2009
# Your code here

float( df.loc[df["Year"] == 2009, "Jun"].iloc[0] / 100 )

0.65

## Extra Credit  (Optional)

`answers.txt` contains students answers of exam questions (each line contains student_id, then answers made by that student)

- The first number is the studentâ€™s ID number. The following 25 letters are the student responses to the exam. If there is no letter following a comma, this means the student skipped answering the question.

- Write code to read the data from the file, compare students answers to answers key (1 point for each correct answer), then find: 

    - The grade for each student.
    - Id of student of the highest score.
    - Id of student of the lowest score.

`answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"`

In [32]:
answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

In [ ]:
# The grade for each student
# Your code here

students = cs

In [34]:
# Id of student of the highest score
# Your code here

In [35]:
# Id of student of the lowest score
# Your code here