In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('students.csv')
df.head()

    id    name  age education        department
0  123    Luai   25        BA  computer science
1  331    Ziad   27       MBA              math
2  441    Taha   30        BA              math
3  221    Suha   26        BA         chemistry
4  336  Sandra   27       MBA  computer science

In [59]:
# values here is the average of the column that you selected (age in this case_)
df.pivot_table(index = 'department', columns = 'education', values = 'age')

education           BA   MBA   PhD
department
chemistry         26.0  31.0  33.0
computer science  25.0  27.0   NaN
economics         21.0  20.0  35.0
math              30.0  27.0  29.0

In [60]:
# read data from file countries.csv
# keep columns 

df = pd.read_csv('countries.csv', sep = ';')
df = df.iloc[:, [0,4,6,7,8,10,13,14,15]]

In [61]:
# change column names to be lower case
df.columns = df.columns.str.lower()

In [62]:
# remove rows with missing values
df = df.dropna(axis = 0, how = 'any')

In [63]:
df

,country,continent,population,area,coastline,currency,birthrate,deathrate,life expectancy
0,Afghanistan,Asia,33332025,652230,0,Afghani,38.3,13.7,51.3
1,Egypt,Africa,94666993,1001450,2450,Pfund,30.3,4.7,72.7
2,Ã…land Islands,Europe,29013,1580,0,Euro,0.0,0.0,0.0
3,Albania,Europe,3038594,28748,362,Lek,13.1,6.7,78.3
4,Algeria,Africa,40263711,2381741,998,Dinar,23.0,4.3,76.8
...,...,...,...,...,...,...,...,...,...
243,Wallis and Futuna,Oceania,15664,142,129,Franc,13.3,5.2,79.7
244,Christmas Island,Australia,2205,135,139,Dollar,0.0,0.0,0.0
245,Western Sahara,Africa,587020,266000,1110,Dirham,29.8,8.2,63.0
246,Central African Republic,Africa,5507257,622984,0,Franc,34.7,13.5,52.3
247,Cyprus,Asia,1205575,9251,648,Euro,11.4,6.7,78.7

In [64]:
# filter on population
df = df.loc[df.population > 20000000]

In [65]:
df.reset_index()

,index,country,continent,population,area,coastline,currency,birthrate,deathrate,life expectancy
0,0,Afghanistan,Asia,33332025,652230,0,Afghani,38.3,13.7,51.3
1,1,Egypt,Africa,94666993,1001450,2450,Pfund,30.3,4.7,72.7
2,4,Algeria,Africa,40263711,2381741,998,Dinar,23.0,4.3,76.8
3,7,Angola,Africa,20172332,1246700,1600,Kwanza,38.6,11.3,56.0
4,12,Argentina,South America,43886748,2780400,4989,Peso,17.0,7.5,77.1
5,16,Ethiopia,Africa,102374044,1104300,0,Birr,36.9,7.9,62.2
6,17,Australia,Australia,22992654,7741220,25760,Dollar,12.1,7.2,82.2
7,20,Bangladesh,Asia,156186882,143998,580,Taka,19.0,5.3,73.2
8,32,Brazil,South America,205823665,8514877,7491,Real,14.3,6.6,73.8
9,39,China,Asia,1373541278,9596960,14500,Yuan,12.4,7.7,75.5
10,44,Democratic Republic of the Congo,Africa,81331050,2344858,37,Franc,34.2,9.9,57.3
11,45,Germany,Europe,80722792,357022,2389,Euro,8.5,11.6,80.7
12,51,Ivory Coast,Africa,23740424,322463,515,Franc,28.2,9.5,58.7
13,58,France,Europe,66836154,643801,3427,Euro,12.3,9.3,81.8
14,65,Ghana,Africa,26908262,238533,539,Ghana Cedi,30.8,7.1,66.6
15,81,India,Asia,1266883598,3287263,7000,Rupie,19.3,7.3,68.5
16,82,Indonesia,Asia,258316051,1904569,54716,Rupiah,16.4,6.4,72.7
17,84,Iraq,Asia,38146025,438317,58,Dinar,30.9,3.8,74.9
18,85,Iran,Asia,82801633,1648195,2440,Rial,17.8,5.9,71.4
19,89,Italy,Europe,62007540,301340,7600,Euro,8.7,10.3,82.2
20,91,Japan,Asia,126702133,377915,29751,Yen,7.8,9.6,85.0
21,92,Yemen,Asia,27392779,527968,1906,Rial,29.2,6.1,65.5
22,99,Cameroon,Africa,24360803,475440,402,Franc,35.8,9.8,58.5
23,100,Canada,North America,35362905,9984670,202080,Dollar,10.3,8.5,81.9
24,104,Kenya,Africa,46790758,580367,536,Schilling,25.1,6.8,64.0
25,108,Colombia,South America,47220856,1138910,3208,Peso,16.3,5.4,75.7
26,125,Madagascar,Africa,24430325,587041,4828,Ariary,32.1,6.7,65.9
27,127,Malaysia,Asia,30949962,329847,4675,Ringgit,19.4,5.1,75.0
28,131,Morocco,Africa,33655786,446550,1835,Dirham,18.0,4.8,76.9
29,138,Mexico,North America,123166749,1964375,9330,Peso,18.5,5.3,75.9
30,145,Mozambique,Africa,25930150,799380,2470,Metical,38.3,11.9,53.3
31,146,Burma,Asia,56890418,676578,1930,Kyat,18.2,7.9,66.6
32,149,Nepal,Asia,29033914,147181,0,Rupie,19.9,5.7,70.7
33,156,Nigeria,Africa,186053386,923768,853,Naira,37.3,12.7,53.4
34,158,North Korea,Asia,25115311,120538,2495,Won,14.6,9.3,70.4
35,165,Pakistan,Asia,201995540,796095,1046,Rupie,22.3,6.4,67.7
36,171,Peru,South America,30741062,1285216,2414,Nuevo Sol,18.0,6.0,73.7
37,172,Philippines,Asia,102624209,300000,36289,Peso,24.0,6.1,69.2
38,174,Poland,Europe,38523261,312685,440,Zloty,9.6,10.3,77.6
39,179,Romania,Europe,21599736,238391,225,Leu,9.0,11.9,75.1
40,180,Russia,Europe,142355415,17098242,37653,Rubel,11.3,13.6,70.8
41,187,Saudi Arabia,Asia,28160273,2149690,2640,Riyal,18.4,3.3,75.3
42,200,Spain,Europe,48563476,505370,4964,Euro,9.4,9.1,81.7
43,201,Sri Lanka,Asia,22235000,65610,1340,Rupie,15.5,6.2,76.8
44,207,South Africa,Africa,54300704,1219090,2798,Rand,20.5,9.6,63.1
45,208,Sudan,Africa,36729501,1861484,853,Pfund,28.5,7.5,64.1
46,210,South Korea,Asia,50924172,99720,2413,Won,8.4,5.8,82.4
47,217,Taiwan,Asia,23464787,35980,1566,Dollar,8.4,7.3,80.1
48,218,Tanzania,Africa,52482726,947300,1424,Schilling,36.0,7.8,62.2
49,219,Thailand,Asia,68200824,513120,3219,Baht,11.1,7.9,74.7
50,227,Turkey,Asia,80274604,783562,7200,Lira,16.0,5.9,74.8
51,231,Uganda,Africa,38319241,241038,0,Schilling,43.4,10.4,55.4
52,232,Ukraine,Europe,44209733,603550,2782,Hrywnja,10.5,14.4,71.8
53,235,Uzbekistan,Asia,29473614,447400,0,So'm,16.9,5.3,73.8
54,238,Venezuela,South America,30912302,912050,2800,BolÃ­var Fuerte,19.2,5.2,75.8
55,240,United States,North America,323995528,9826675,19924,Dollar,12.5,8.2,79.8
56,241,United Kingdom,Europe,64430428,243610,12429,Pfund,12.1,9.4,80.7
57,242,Vietnam,Asia,95261021,331210,3444,Dong,15.7,5.9,73.4

In [66]:
del df['index']

KeyError: 'index'

In [68]:
# add a boolean to those with a coastline
df['coastal'] = df['coastline'] > 0
df

/var/folders/kx/58cjbwzx5jjgn5w_sjz3qk0w0000gn/T/ipykernel_13668/3758491513.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['coastal'] = df['coastline'] > 0

,country,continent,population,area,coastline,currency,birthrate,deathrate,life expectancy,coastal
0,Afghanistan,Asia,33332025,652230,0,Afghani,38.3,13.7,51.3,False
1,Egypt,Africa,94666993,1001450,2450,Pfund,30.3,4.7,72.7,True
4,Algeria,Africa,40263711,2381741,998,Dinar,23.0,4.3,76.8,True
7,Angola,Africa,20172332,1246700,1600,Kwanza,38.6,11.3,56.0,True
12,Argentina,South America,43886748,2780400,4989,Peso,17.0,7.5,77.1,True
16,Ethiopia,Africa,102374044,1104300,0,Birr,36.9,7.9,62.2,False
17,Australia,Australia,22992654,7741220,25760,Dollar,12.1,7.2,82.2,True
20,Bangladesh,Asia,156186882,143998,580,Taka,19.0,5.3,73.2,True
32,Brazil,South America,205823665,8514877,7491,Real,14.3,6.6,73.8,True
39,China,Asia,1373541278,9596960,14500,Yuan,12.4,7.7,75.5,True
44,Democratic Republic of the Congo,Africa,81331050,2344858,37,Franc,34.2,9.9,57.3,True
45,Germany,Europe,80722792,357022,2389,Euro,8.5,11.6,80.7,True
51,Ivory Coast,Africa,23740424,322463,515,Franc,28.2,9.5,58.7,True
58,France,Europe,66836154,643801,3427,Euro,12.3,9.3,81.8,True
65,Ghana,Africa,26908262,238533,539,Ghana Cedi,30.8,7.1,66.6,True
81,India,Asia,1266883598,3287263,7000,Rupie,19.3,7.3,68.5,True
82,Indonesia,Asia,258316051,1904569,54716,Rupiah,16.4,6.4,72.7,True
84,Iraq,Asia,38146025,438317,58,Dinar,30.9,3.8,74.9,True
85,Iran,Asia,82801633,1648195,2440,Rial,17.8,5.9,71.4,True
89,Italy,Europe,62007540,301340,7600,Euro,8.7,10.3,82.2,True
91,Japan,Asia,126702133,377915,29751,Yen,7.8,9.6,85.0,True
92,Yemen,Asia,27392779,527968,1906,Rial,29.2,6.1,65.5,True
99,Cameroon,Africa,24360803,475440,402,Franc,35.8,9.8,58.5,True
100,Canada,North America,35362905,9984670,202080,Dollar,10.3,8.5,81.9,True
104,Kenya,Africa,46790758,580367,536,Schilling,25.1,6.8,64.0,True
108,Colombia,South America,47220856,1138910,3208,Peso,16.3,5.4,75.7,True
125,Madagascar,Africa,24430325,587041,4828,Ariary,32.1,6.7,65.9,True
127,Malaysia,Asia,30949962,329847,4675,Ringgit,19.4,5.1,75.0,True
131,Morocco,Africa,33655786,446550,1835,Dirham,18.0,4.8,76.9,True
138,Mexico,North America,123166749,1964375,9330,Peso,18.5,5.3,75.9,True
145,Mozambique,Africa,25930150,799380,2470,Metical,38.3,11.9,53.3,True
146,Burma,Asia,56890418,676578,1930,Kyat,18.2,7.9,66.6,True
149,Nepal,Asia,29033914,147181,0,Rupie,19.9,5.7,70.7,False
156,Nigeria,Africa,186053386,923768,853,Naira,37.3,12.7,53.4,True
158,North Korea,Asia,25115311,120538,2495,Won,14.6,9.3,70.4,True
165,Pakistan,Asia,201995540,796095,1046,Rupie,22.3,6.4,67.7,True
171,Peru,South America,30741062,1285216,2414,Nuevo Sol,18.0,6.0,73.7,True
172,Philippines,Asia,102624209,300000,36289,Peso,24.0,6.1,69.2,True
174,Poland,Europe,38523261,312685,440,Zloty,9.6,10.3,77.6,True
179,Romania,Europe,21599736,238391,225,Leu,9.0,11.9,75.1,True
180,Russia,Europe,142355415,17098242,37653,Rubel,11.3,13.6,70.8,True
187,Saudi Arabia,Asia,28160273,2149690,2640,Riyal,18.4,3.3,75.3,True
200,Spain,Europe,48563476,505370,4964,Euro,9.4,9.1,81.7,True
201,Sri Lanka,Asia,22235000,65610,1340,Rupie,15.5,6.2,76.8,True
207,South Africa,Africa,54300704,1219090,2798,Rand,20.5,9.6,63.1,True
208,Sudan,Africa,36729501,1861484,853,Pfund,28.5,7.5,64.1,True
210,South Korea,Asia,50924172,99720,2413,Won,8.4,5.8,82.4,True
217,Taiwan,Asia,23464787,35980,1566,Dollar,8.4,7.3,80.1,True
218,Tanzania,Africa,52482726,947300,1424,Schilling,36.0,7.8,62.2,True
219,Thailand,Asia,68200824,513120,3219,Baht,11.1,7.9,74.7,True
227,Turkey,Asia,80274604,783562,7200,Lira,16.0,5.9,74.8,True
231,Uganda,Africa,38319241,241038,0,Schilling,43.4,10.4,55.4,False
232,Ukraine,Europe,44209733,603550,2782,Hrywnja,10.5,14.4,71.8,True
235,Uzbekistan,Asia,29473614,447400,0,So'm,16.9,5.3,73.8,False
238,Venezuela,South America,30912302,912050,2800,BolÃ­var Fuerte,19.2,5.2,75.8,True
240,United States,North America,323995528,9826675,19924,Dollar,12.5,8.2,79.8,True
241,United Kingdom,Europe,64430428,243610,12429,Pfund,12.1,9.4,80.7,True
242,Vietnam,Asia,95261021,331210,3444,Dong,15.7,5.9,73.4,True

In [80]:
# find the max and min of life expectancy for coastal and landlocked countries
df.groupby('coastal').agg(['min', 'max'])[['life expectancy']]
df[['life expectancy', 'coastal']].groupby('coastal').agg(['min', 'max'])

        life expectancy
                    min   max
coastal
False              51.3  73.8
True               53.3  85.0

In [69]:
# find how many coastal and landlocked countries there are in each continent

df.groupby(['continent', 'coastal']).size()

continent      coastal
Africa         False       2
               True       15
Asia           False       3
               True       20
Australia      True        1
Europe         True        9
North America  True        3
South America  True        5
dtype: int64

In [81]:
# determine the average deathrate for each coastal and landlocked countries in continents

df[['coastal', 'continent', 'deathrate']].groupby(['continent', 'coastal']).mean(['deathrate'])

                       deathrate
continent     coastal
Africa        False     9.150000
              True      8.293333
Asia          False     8.233333
              True      6.460000
Australia     True      7.200000
Europe        True     11.100000
North America True      7.333333
South America True      6.140000

In [84]:
# create a new column that measures population density
df['density'] = df['population'] / df['area']

/var/folders/kx/58cjbwzx5jjgn5w_sjz3qk0w0000gn/T/ipykernel_13668/1465260033.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['density'] = df['population'] / df['area']

In [88]:
df.density.mean()

np.float64(142.1239784002992)