In [1]:
import pandas as pd

In [ ]:
# concat 
# concat will append to data frames together
# axis = 0 is on top of each other
# axis = 1 is side by side

In [6]:
# merge

df3 = pd.DataFrame([['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']], columns = ['col1', 'col2', 'col3'])
df3

  col1 col2 col3
0    a    b    c
1    d    e    f
2    g    h    i

In [8]:
df4 = pd.DataFrame([['x', 1, 'i'], ['e', 2, 'f'], ['b', '3', 'e'], ['z', 4, 'h']], columns = ['col2', 'col4', 'col5'])

df4

  col2 col4 col5
0    x    1    i
1    e    2    f
2    b    3    e
3    z    4    h

In [ ]:
# merge isn't just pasting them on each other
# you have to merge them on a condition
# like SQL

# common elements
pd.merge(df3, df4, how = 'inner')
# everything
pd.merge(df3, df4, how = 'outer')
# values in left df and add elements from right df
pd.merge(df3, df4, how = 'left')
# same as left but reversed
pd.merge(df3, df4, how = 'right')

  col1 col2 col3 col4 col5
0  NaN    x  NaN    1    i
1    d    e    f    2    f
2    a    b    c    3    e
3  NaN    z  NaN    4    h

In [19]:
# when doing inner, you can specify which columns to check
# combining data with concat will always do it on indexes
# so if you have one starting with id 0 and one starting with 1, it will append incorrectly
pd.merge(df3, df4, how = 'inner', left_on = 'col2', right_on = 'col2')

  col1 col2 col3 col4 col5
0    a    b    c    3    e
1    d    e    f    2    f